<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/posts.css">
<link rel="stylesheet" href="/css/comments.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here" required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>

        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <%- include('_posts') -%>
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user-friends">
        <h4>Friends</h4>
        <ul id="friend-list">
            <% for(friend of all_friends){ %>
                <li id="friend-<%= friend.id %>">
                    <a href="/users/profile/<%= friend.to_user.id %>" class="user-friend-name"><%= friend.to_user.name %></a>

                    <a href="/friends/friendship/remove/<%= friend.id %>" class="remove-friend remove-add-btn">Remove Friend</a>
                </li>
            <% } %>
        </ul>
    </section>
    <section id="user-list">
        <h3>Users</h3>
        <ul>
            <% for(u of all_users){ %>
                <% if(locals.user){ %>
                    <%if(u.id != locals.user.id){%>
                        <li>
                            <img src="<%= u.avatar %>" alt="<%= u.name %>" width="100"></img>

                            <a class="user-list-name" href="/users/profile/<%= u.id %>"><%= u.name %></a>

                            <a class="add-friend-btn remove-add-btn" href="/friends/friendship/add/?toUser=<%= u._id %>"> <!-- /?id=<%=u._id%> -->
                                Add Friend
                            </a>
                            <form action="/friends/friendship/add/?toUser=<%= u._id %>" method="POST">
                                <input type="hidden" name="someData" value="someValue" />
                                <button type="submit" class="link-button">Add Friend</button>
                            </form>
                        </li>
                    <%} else {%>
                        <img src="<%= u.avatar %>" alt="<%= u.name %>" width="100"></img>

                        <a class="user-list-name" href="/users/profile/<%= u.id %>">Your Profile</a>
                    <%}%>
                <% } %>
            <% } %>
        </ul>
        <%- include('_chat_box') -%>
    </section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>')
    </script>
<% } %>

